.product-header {
  position: fixed;
  top: 81px;
  /* ajustar según el tamaño del header */
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #333;
}

.create-product-btn {
  background-color: #3f51b5;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 16px;
  font-size: 16px;
  margin-left: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.create-product-btn:hover {
  background-color: #eb7c36;
}

.title-bar {
  color: #fff;
  font-size: 13px;
  margin-right: 20px;
}