@import "../../colors";

.main_profile {
    margin-top: 200px;
    margin-bottom: 150px;
  
    .ant-card {
      margin-bottom: 20px;
    }
  
    h2 {
      margin-bottom: 10px;
    }
  
    .ant-collapse {
      margin-bottom: 20px;
    }
  }
  