@import "../../colors";

.contact_container {
  position: relative;
  overflow-y: auto;
  /* Ajusta la altura según tus necesidades */
  top: 100px;
  margin-bottom: 200px;

  .map_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .container_dir {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      /* Alinea los elementos al inicio del contenedor */

      .map_image {
        width: 100%;
        max-width: 1200px;
        /* Ajusta el ancho máximo del mapa */
        height: auto;
        margin-bottom: 20px;
        border: 1px solid #efefef;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
      }

      .container_content {
        display: flex;
        /* Agrega un display flex para que los elementos se muestren en línea */
        align-items: flex-start;
        /* Alinea los elementos al inicio del contenedor */
        width: 100%;
        max-width: 1120px;
        /* Ajusta el ancho máximo del contenido */
        background-color: white;
        padding: 40px;
        border-radius: 10px;
        border: 1px solid #efefef;


        .content_left {
          flex: 1;
          max-width: 600px;
          margin-left: 70px;
        }

        .content_right {
          flex-shrink: 0;
          margin-left: 130px;
          /* Ajusta el margen izquierdo para separar los elementos */
        }

        .info_container {
          text-align: left;
        }

        .img_ussop {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}