@import"../../../colors";

.form-container_edt {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    background-color: $grayadmin;
    padding: 50px;
    border-radius: 7px;
  
    .form-group {
      margin-bottom: 20px;
      width: 350px;
  
      label {
        font-weight: bold;
        font-size: 17px;
        margin-bottom: 20px;
        color: #fff;
      }
  
      .form-input {
        margin-top: 10px;
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 15px;
      }
  
      .form-select {
        width: 100%;
      }
  
      .form-file {
        margin-top: 5px;
      }
    }
    .form-group2 {
        margin-top: 20px;
        margin-bottom: 40px;
        width: 350px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
        
    
        label {
          font-weight: bold;
          margin-right: 10px;
          color: #222020
        }
    
        .form-input {
          width: 100%;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
          color: #000000
        }
    
        .form-select {
          width: 100%;
        }
    
        .form-file {
          margin-top: 5px;
        }
      }

    .form-button {
      padding: 8px 16px;
      background-color: $bluebutton;
      color: #fff;
      border: none;
      border-radius: 4px;
      margin-bottom: -30px;
      cursor: pointer;
  
      &:hover {
        background-color: #eb7c36;
      }
    }
  
    .form-message {
      margin-top: 65px;
      font-size: 16px;
      text-align: center;
      color:#ccc
    }
  }
  